body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(228, 151, 8);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
 .result-item {
    border: 1px solid #ddd;
    padding: 5px;
    width: 40%;
    margin-top: 5px;
    cursor: pointer;
  }
.result-item:hover {
    background-color: #f5f5f5;
  }
.delete-button {
    background-color: #ff4444;
    border-radius: 30px;
    color: white;
    border: none;
    padding: 3px 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
 
  /* Media query for tablet screens */
  @media (max-width: 768px) {
    main {
      padding: 10px;
    }
  }
  
  /* Media query for mobile screens */
  @media (max-width: 480px) {
    header {
      padding: 5px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    main {
      padding: 5px;
    }
  
    button {
      padding: 3px 8px;
      font-size: 12px;
    }
  
    li {
      margin: 5px 0;
    }
  }
  
  
    